*,
*::after,
*::before {
	padding: 0;
	margin: 0;
}

body {
	background-image: linear-gradient(
			to right bottom,
			rgba(198, 219, 205, 0.6),
			rgba(180, 46, 103, 1)
		),
		url(../img/bg.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
}

.container {
	margin: 8% auto;
	width: 550px;
}

.loginSection {
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	padding: 40px;
	box-shadow: 0 5px 25px black;
	border-radius: 5px;
}

.loginSection--formControl {
	padding: 8px 18px;
	width: 80%;
	margin-bottom: 20px;
	display: block;
	font-family: inherit;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	font-weight: lighter;
	outline: none;
	color: black;
	/* border-left: 6px solid black; */
	box-shadow: 0px 1px 3px black;
	font-family: "Lato", sans-serif;
	transition: all 0.3s ease;
}

.loginSection--formControl:focus {
	box-shadow: 0px 1px 8px;
	border-radius: 5px;
}

.loginSection img {
	display: block;
	margin: 0 auto;
	height: 150px;
	box-shadow: 2px 10px 20px rgba(black, black, black, 0.5);
}
.img-container {
	display: block;
	text-align: center;
}
.shadow-icon {
	border-radius: 100%;
	display: inline-block;
	box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.4);
	margin: 10px auto;
}

.loginSection h3 {
	background: linear-gradient(to right, #0074da 0%, #000957 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* color: rgb(255, 67, 34); */
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	margin-bottom: 15px;
	font-family: "Lato", cursive;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.btn {
	padding: 8px 18px;
	margin: 0 auto;
	display: inline-block;
	color: white;
	font-size: 18px;
	font-weight: lighter;
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.2s ease;
	font-family: "Lato", sans-serif;
	border-radius: 100px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}
.btn:hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	transform: translateY(-3px);
}
.btn:active {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
	transform: translateY(-1px);
}

.btn-colored {
	background-color: rgb(255, 67, 34);
	color: white;

	width: 42%;
	margin: 10px 0;
	text-align: center;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn-colored::after {
	background-color: rgb(255, 67, 34);
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.block-display {
	display: block;
	text-align: center;
}
.btnContainer {
	width: 100%;
	display: block;
	margin: 0 auto;
}
